<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration_form</title>
</head>
<body style="alignitem:center">

    <form th:object="${employee_registration}"  th:action="@{/registration/save}"  method="post">

        <label> EmployeeId:</label>
        <input type="text" th:field="*{employeeId}"/>
        <br>
        <br>
        <label> employeeName</label>
        <input type="text" th:field="*{employeeName}"/>
        <br>
        <br>

        <label> employeeEmail</label>
        <input type="text" th:field="*{employeeEmail}"/>
        <br>
        <br>

        <label> location</label>
        <input type="text" th:field="*{location}"/>
        <br>
        <br>

        <button type="submit"> Register </button>


    </form>
</body>
</html>